/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

a {
  color: white;
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #e5e5e5;
}

.home {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 65px;
  background: #fff;
}

.film-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0;
}

.odd {
  padding: 15px;
  background: #ffcc80;
}

.even {
  padding: 15px;
}

.desc {
  font-weight: 600;
  margin-bottom: 5px;
}

.top-nav {
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  background: #ff8900;

  font-size: 20px;
  color: white;
}