{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SNX - {{detail_film.title}}</title>
{% endblock meta %}

{% block content %}
  <div class="home">
    <div class="odd">
      <div class="film-title">{{detail_film.title}}</div>
    </div>
    <div class="even">
      <div class="desc">Description:</div>
      {%if 'description' in detail_film%}
        {{detail_film.description}}
      {%else%}
        No data
      {%endif%}
    </div>
    <div class="odd">
      <div class="desc">Director:</div>
      {%if 'director' in detail_film%}
        {{detail_film.director}}
      {%else%}
        No data
      {%endif%}
    </div>
    <div class="even">
      <div class="desc">Released in:</div>
      {%if 'releaseYear' in detail_film%}
        {{detail_film.releaseYear}}
      {%else%}
        No data
      {%endif%}
    </div>
    <div class="odd">
      <div class="desc">Category:</div>
      {%if 'category' in detail_film%}
        {{detail_film.category}}
      {%else%}
        No data
      {%endif%}
    </div>
    <div class="even">
      <div class="desc">Date added:</div>
      {%if 'dateAdded' in detail_film%}
        {{detail_film.dateAdded}}
      {%else%}
        No data
      {%endif%}
    </div>
    <div class="odd">
      <div class="desc">Country:</div>
      {%if 'country' in detail_film%}
        {{detail_film.country}}
      {%else%}
        No data
      {%endif%}
    </div>

    {%if 'duration' in detail_film%}
    <div class="even">
      <div class="desc">Duration:</div>
      {{detail_film.duration}}
    </div>
    {%endif%}

    {%if 'numOfSeasons' in detail_film%}
    <div class="even">
      <div class="desc">Number of seasons:</div>
      {{detail_film.numOfSeasons}}
    </div>
    {%endif%}

    <div class="odd">
      <div class="desc">Rating:</div>
      {%if 'rating' in detail_film%}
        {{detail_film.rating}}
      {%else%}
        No data
      {%endif%}
    </div>

    <div class="even">
      <div class="desc">Distributor:</div>
      {%if 'distributor' in detail_film%}
        {{detail_film.distributor}}
      {%else%}
        No data
      {%endif%}
    </div>

    <div class="odd">
      <div class="desc">Producer:</div>
      {%if 'producer' in detail_film%}
        {{detail_film.producer}}
      {%else%}
        No data
      {%endif%}
    </div>

    <div class="even">
      <div class="desc">Homepage:</div>
      {%if 'homepage' in detail_film%}
        {{detail_film.homepage}}
      {%else%}
        No data
      {%endif%}
    </div>

  </div>
{% endblock content %}